* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: auto;
  overflow-y: visible;
}

body {
  overflow-x: auto;
  overflow-y: visible;
  height: 100vh;
}

.body {
  display: flex;
  font-family: 'Poppins', sans-serif;
  flex-direction: row;
  height: 100%;
}

.content-line {
  display: flex;
  justify-content: space-around;
  border-radius: 4%;
  border: 2px solid #020a42;
  padding: 6% 4%;
  margin-top: 3%;
  align-items: center;
  max-height: 24px;
  width: 90%;
}

del * {
  min-width: 100px;
  display: flex;
  width: 10px;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.content-line:hover {
}

.hidden {
  display: none;
}

.title-of-todo {
  /* font-size: 19px;
  font-weight:bold;
  text-align: center; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(135, 154, 160, 0.445);
  backdrop-filter: blur(1px);
  z-index: 5;
  position: fixed;
}

del {
  text-decoration: none;
}

input[type='checkbox']:checked ~ del {
  text-decoration: line-through;
}

.checkbox {
  margin-right: 5px;
}

.days-until-due {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  text-decoration: none;
}

.details-btn {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;

}

.modalFour {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 3%;
  width: 650px;
  min-width: 170px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 50%);
}

.hidden {
  display: none;
}

.user-content {
  /* border-radius: 3%; */
  /* border: .5px solid rgb(211, 12, 12); */




}

.modalTwo {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 1rem 4rem 1rem 4rem;
  min-width: 170px;
  height: 500px; */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  padding: 1rem 4rem 1rem 4rem;
  border-radius: 3%;
  min-width: 170px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px rgb(0 0 0 / 50%);
  width: 650px;
  height: 650px

}

.modalFour{
 
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.holdingList {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-height: 500px;
  border-radius: 3%;
  align-items: center;
  margin: 10px;
  box-shadow: 0 4px #999;
}

.holdingList:active {
  box-shadow: 0 1px rgb(122, 122, 122);
}

.btn-for-list-type {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  background-color: rgb(15, 29, 99);
}

.btn-for-list-type:hover {
  transform: scale(1.2);
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.1s;
  border: none;
  outline: none;
}

.pwg:hover {
  background-color: rgba(128, 128, 128, 0.374);
  cursor: pointer;
}

.modal {
  display: flex;
  /* flex-direction: row; */
  /* width: 100%; */
  /* margin-left: 20.3rem; */
  /* height: 100%; */
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
  padding-left: 2rem;
  background-color: rgb(15, 29, 99);
  color: rgb(233, 233, 233);
  padding-right: 2rem;
  background: linear-gradient(to right, rgb(15, 29, 99) 60%, rgb(11, 22, 76));
  height: 100vh;
}

.todo-content {
}

.containerForTodoLabel {
  display: flex;
  margin-bottom: 5px;
  margin-top: 2rem;
}

.appTitle {
  /* padding-top: 3px; */
  /* font-weight: normal */
  font-size: 35px;
}

.bottom-line {
  border: .5px solid rgb(233, 233, 233);
  /* display: flex; */
  /* width: 70%; */
  margin-bottom: 1rem;
}

.listTypeModal {
  width: 90%;
}

.bottom-line2 {
  border: .5px solid rgb(15, 29, 99);

  margin-bottom: 1rem;
  text-align: center;
}

.fa {
  padding-top: 10px;
  padding-right: 20px;
  cursor: pointer;
}

.menu {
}

#create-task-btn {
  /* background-color: rgba(6, 61, 243, 0.925);
  border: none;
  color: black;
  padding: .7rem 3.0rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  /* font-weight: bolder; 
  /* font-size: 1rem; 
  margin-bottom: 2rem;
  outline: none;
  border: none;
  box-shadow: 0 4px #999; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  font-size: 0.9rem;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

#create-task-btn:active {
  box-shadow: 0 1px rgb(122, 122, 122);
}

.iconPlus {
  font-weight: bolder;
  font-size: 2rem;
  background-color: rgba(15, 29, 99, 0);
}

.shortCuts {
  /* margin-bottom: .5rem;
  font-size: 1.7rem;
  font-weight: bolder; */
  font-size: 35px;
}

.short-Cuts-Container {
  margin-top: 3rem;
}

.all-task {
  margin-bottom: 2rem;
}

.listContainer {
  margin-top: 3rem;
}
.modalFour

.list2 {
  /* margin-bottom: .5rem;
  font-size: 1.7rem;
  font-weight: bolder; */
  font-size: 35px;
}

.side-item {
  /* display: flex;
  flex-direction: column; */
  /* padding-top: 1.2rem;
  font-size: 20px; */
  font-size: 23px;
  margin-bottom: 10px;
}

.pwg {
  /* display: flex;
  flex-direction: column; */
  /* padding-top: 1.2rem;
  font-size: 20px;
  cursor: pointer; */
}

.list-size {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.num {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  font-size: 0.9rem;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.367);
}

#notes {
  padding-bottom: 4rem;
}



.the-form {
  /* width: 100%;
  padding: 10px 0 10px 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  color: rgb(33, 1, 175);
  min-width: 180px; */

  width: 90%;
  text-decoration: none;
  outline: none;
  padding: 20px;
  padding-bottom: 5px;
  height: 25px;
  border: none;
  border-bottom: 2px solid rgb(99, 99, 99);
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  overflow: hidden
}

#todo-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  margin: -25px;
}

.modalThree {
  display: flex;
  flex-direction: column;
}

.save-del-container {
  display: flex;
}

.task-details {
  align-self: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;

}

.save-del-container {
  justify-content: space-between;
  height: 100%;
}

.save {
  font-weight: bolder;
  text-decoration: none;
  outline: none;
  height: 100%;
  box-shadow: 1px 1px 2px #3300ff;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 10%;

  padding: 4%;
  font-weight: bolder;
  font-size: 1.1rem;

}

.del {
  font-size: 1.1rem;
  font-weight: bolder;
  text-decoration: none;
  outline: none;
  height: 100%;
  box-shadow: 1px 1px 2px #ff0000;
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 10%;

  padding: 4%;
  font-weight: bolder;
}

.containerForMoreLists {
  display: flex;
  margin-left: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

.list-name {
  align-self: center;
  font-size: 2rem;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;

}

.times {
  font-weight: bolder;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  font-size: 1.6rem;
  border-radius: 50%;
  color: red;
  cursor: pointer;
}

#submit {
  margin-top: 1rem;
  padding-top: 30px;
  padding-bottom: 40px;
  color: rgb(15, 29, 99);
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
  border-bottom: none;
  box-shadow: 1px 1px 2px #3300ff;
}

@media screen and (min-width: 700px) {
  .title-of-todo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .list-name {
    font-size: 40px;
  }

  .title-of-todo {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    width: 200px;
  }
}

@media screen and (min-width: 800px) {
  .holdingList {
    max-width: 570px;
    height: 900px;
  }
}

@media screen and (min-width: 900px) {
  .modal {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
  }
}

@media screen and (min-width: 1250px) {
  .modalTwo {
    /* width: 400px; */
  }
  .holdingList {
    display: flex;
    flex-direction: column;
    width: 30rem;
    /* height: 100%; */
    border-radius: 3%;
    align-items: center;
    margin: 10px;
    box-shadow: 0 4px #999;
    overflow-y: scroll;
    margin-right: 5rem;
    background-color: rgb(250, 253, 255);
  }

  .days-until-due {
    font-size: 16px;
  }

  .title-of-todo {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .modal {
    /* display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    height: 100vh; */
  }

  .modal {
    overflow-x: hidden;
  }

  .modal {
    display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: center;
      /*
    margin-left: 11.5rem;
    width: 100%; */
    margin-left: 20rem;

  }

  .title-of-todo {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 200px;
  }

  .content-line {
    display: flex;
    justify-content: space-around;
    border-radius: 4%;
    border: 1px solid #1e2245;
    padding: 6% 2%;
    margin-top: 3%;
    align-items: center;
    max-height: 24px;
    width: 95%;
  }
}
